---
layout: page
title: Contact Me
permalink: /contact/
---

<div class="padd-box">
  <h2 class="title-lg text-upper">contact me</h2>

  <div class="padd-box-xs">
    <header class="contact-head">
        <h3 class="title text-upper">If you'd like to schedule a call, please use this:</h3>
    
    {% include calendly.html %}
  </header>
  </div>

  <div class="padd-box-xs">
      <header class="contact-head">
          <h3 class="title text-upper">Otherwise, drop me a message!</h3>
      </header>
  </div>

  <div class="padd-box-sm">

      <form action="{% if site.contact.email %}https://formspree.io/{{site.contact.email}}{% else %}#{% endif %}" method="POST" class="contact-form">

          <div class="form-group">
              <label class="form-label" for="author">Your Name</label>

              <div class="form-item-wrap">
                  <input id="author" class="form-item" name="crtName" type="text">
              </div>
          </div>

          <div class="form-group">
              <label class="form-label" for="email">Your E-mail</label>

              <div class="form-item-wrap">
                  <input id="email" class="form-item" type="email" name="crtEmail" required="required">
              </div>
          </div>

          <div class="form-group">
              <label class="form-label" for="url">Subject</label>

              <div class="form-item-wrap">
                  <input id="url" class="form-item" type="text" name="crtSubject">
              </div>
          </div>

          <div class="form-group">
              <label class="form-label" for="comment">Your Comment</label>

              <div class="form-item-wrap">
                  <textarea id="comment" class="form-item" name="crtMessage"></textarea>
              </div>
          </div>

          <div class="form-submit form-item-wrap">
              <input class="btn btn-primary btn-lg crtFormSubmit" type="submit" value="Post Your Comment">
          </div>
      </form>
  </div>
</div>
<!-- .padd-box -->

