<header id="crt-header">
  <div class="crt-head-inner crt-container">
      <div class="crt-container-sm">
          <div class="crt-head-row">
              <div id="crt-head-col1" class="crt-head-col text-left">
                  <a id="crt-logo" class="crt-logo" href="{{ site.baseurl }}/">
                      {%if site.logo %}
                        <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}"><span>.{{ site.title }}</span>
                      {% else %}
                        {{ site.title }}
                      {% endif %}
                  </a>
              </div>

              <div id="crt-head-col2" class="crt-head-col text-right">
                  <div class="crt-nav-container crt-container hidden-sm hidden-xs">
                      <nav id="crt-main-nav">

                          {%include navigation.html%}
                          
                      </nav>
                  </div>
              </div>

              <div id="crt-head-col3" class="crt-head-col text-right">
                  <button id="crt-sidebar-btn" class="btn btn-icon btn-shade">
                      <span class="crt-icon crt-icon-side-bar-icon"></span>
                  </button>
              </div>
          </div>
      </div>
      <!-- .crt-head-inner -->
  </div>

  <nav id="crt-nav-sm" class="crt-nav hidden-lg hidden-md">
      <ul class="clear-list">
          <li>
              <a href="index.html" data-tooltip="Home"><img class="avatar avatar-42"
                                                              src="assets/images/uploads/avatar/avatar-42x42.png"
                                                              srcset="assets/images/uploads/avatar/avatar-84x84-2x.png 2x"
                                                              alt=""></a>
          </li>
          <li>
              <a href="experience.html" data-tooltip="Experience"><span
                      class="crt-icon crt-icon-experience"></span></a>
          </li>
          <li>
              <a href="portfolio.html" data-tooltip="Portfolio"><span class="crt-icon crt-icon-portfolio"></span></a>
          </li>
          <li>
              <a href="testimonials.html" data-tooltip="References"><span class="crt-icon crt-icon-references"></span></a>
          </li>
          <li>
              <a href="/" data-tooltip="Contact"><span class="crt-icon crt-icon-contact"></span></a>
          </li>
          <li>
              <a href="/" data-tooltip="Blog"><span class="crt-icon crt-icon-blog"></span></a>
          </li>
      </ul>
  </nav>
  <!-- #crt-nav-sm -->
</header>
<!-- #crt-header -->