<ul class="clear-list">
  <li><a href="{{ site.baseurl }}/">home</a></li>
  <li class="has-sub-menu"><a href="category.html">blog</a>
      <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/blog/tag/Blockchain">Blockchain</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/Education">Education</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/History">History</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/Politics">Politics</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/Technology">Technology</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/Literary">Literary</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/Philosophy">Philosophy</a></li>
      </ul>
  </li>
  <li><a href="{{ site.baseurl }}/quotes">quotes</a></li>
  <li><a href="{{ site.baseurl }}/signup">newsletter</a></li>
  <li><a href="{{ site.baseurl }}/contact">contact</a></li>
</ul>