---
layout: default
---


<article class="post hentry">

{% if page.image and page.imagehero %}
<div class="post-media">
  <div class="post-image">
      <img src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
  </div>
</div>
{% endif %}

<div class="padd-box-sm">
  <header class="post-header text-center">
      <h1 class="post-title entry-title text-upper">{{ page.title | escape }}</h1>

      <div class="post-header-info">
                      <span class="posted-on"><span class="screen-reader-text">Posted on </span><a
                              href="{{site.baseurl}}" rel="bookmark">
                          <time class="post-date published" datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
                          <time class="post-date updated" datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
                      </a></span>
          &nbsp;<span class="post-author vcard">by <a class="url fn n" href="{{site.baseurl}}"
                                                      rel="author">Sunny Aggarwal</a></span>
      </div>
  </header>

  <div class="post-content entry-content editor clearfix clear-mrg">
      
    {{ content }}

  </div>

  <footer class="post-footer">
      <div class="post-footer-top brd-btm">
          <div class="post-footer-info">
            {% if page.tags.size >= 1 %}
              <span class="post-cat-links"><span class="screen-reader-text">Categories</span>
              {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/blog/tag/{{ tag }}" rel="category tag">{{ tag }}</a>&nbsp;,&nbsp;
              {% endfor %}
            {% endif %}
          </div>
      </div>

      <div class="post-footer-btm">
        {% if page.tags.size >= 1 %}
          <div class="post-tags">
              <span class="screen-reader-text">Tags </span>
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/blog/tag/{{ tag }}" title="{{ tag }}" rel="tag">{{ tag }}</a>
              {% endfor %}
          </div>
        {% endif %}
      </div>
  </footer>
</div>
</article>
<!-- .post -->

<nav class="post-nav" role="navigation">
  <div class="padd-box-sm brd-btm">
      <h2 class="screen-reader-text">Post navigation</h2>

      <div class="row">
          <div class="col-sm-5 col-xs-6">
              <div class="post-nav-prev">
                  <a href="{{page.previous.url}}" rel="prev">
                      <span class="text-left text-muted">previous article</span>
                      <figure><img src="{{page.previous.image}}" alt=""></figure>
                      <strong class="text-upper text-center">{{page.previous.title}}</strong>
                  </a>
              </div>
          </div>

          <div class="col-sm-5 col-sm-offset-2 col-xs-6">
              <div class="post-nav-next">
                  <a href="{{page.next.url}}" rel="next">
                      <span class="text-right text-muted">next article</span>
                      <figure><img src="{{page.next.image}}" alt=""></figure>
                      <strong class="text-upper text-center">{{page.next.title}}</strong>
                  </a>
              </div>
          </div>
      </div>
  </div>
</nav>
<!-- .post-nav -->
